:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-cerulean-500: #009ddb;
	--color-cerulean-400: #4db6dd;
	--color-cerulean-300: #66c1e2;
	--color-cerulean-200: #8dd2eb;
	--color-cerulean-100: #b1e6fa;
	--color-cerulean-50: #d9eef5;
	--color-cerulean-10: #f7fdff;
	--color-cerulean-link: #008fc8;
	--color-cerulean-link-hover: #115a75;
	--color-mine-shaft-900: #212121;
	--color-mine-shaft-800: #3d3d3b;
	--color-mine-shaft-700: #575757;
	--color-mine-shaft-500: #787876;
	--color-mine-shaft-400: #8b8b89;
	--color-mine-shaft-800-a-60: rgba(61, 61, 59, 0.6);
	--color-bali-hai-700: #435f72;
	--color-bali-hai-500: #718c9e;
	--color-bali-hai-300: #7a97ab;
	--color-bali-hai-200: #95acbc;
	--color-mystic-500: #d0d6de;
	--color-mystic-300: #dce3eb;
	--color-mystic-200: #e3e9ef;
	--color-mystic-100: #edf4fa;
	--color-mystic-50: #f5f7f9;
	--color-mystic-40: #f7f9fc;
	--color-mystic-300-a-20: rgba(220, 227, 235, 0.2);
	--color-mystic-300-a-30: rgba(220, 227, 235, 0.3);
	--color-mystic-20: #fbfcfd;
	--color-astronaut-blue-500: #004065;
	--color-blaze-orange-500: #ff7000;
	--color-alarm-500: #fe3b1f;
	--color-alarm-100: #fcf4f2;
	--color-alarm-150: #fde8e5;
	--color-success-500: #55d904;
	--color-success-150: #e8fade;
	--color-success-link: #389300;
	--color-warning-500: #ffa800;
	--color-warning-150: #fff0d9;
	--color-warning-100: #fff6e5;
	--color-warning-link: #d26500;
	--color-purple-500: #9241fa;
	
	--card-shadow: 0px 3px 2px rgba(0,0,0,0.02), 0px 7px 5px rgba(0,0,0,0.030), 0px 13px 10px rgba(0,0,0,0.040), 0px 22px 18px rgba(0,0,0,0.040);
}