$alert-primary-background: var(--color-cerulean-500);
$alert-success-background: var(--color-success-150);
$alert-warning-background: var(--color-warning-150);
$alert-danger-background: var(--color-alarm-150);