@mixin hook-alert() { 
  border: 1px solid; 
  border-color: var(--color-mystic-300);
  border-radius: 8px;
  a {
    font-weight: 500;
  }
}

@mixin hook-alert-primary() { 
  border-color: var(--color-cerulean-500); 
  a {
    color: var(--color-cerulean-link);
  } 
}
@mixin hook-alert-success() { 
  border-color: var(--color-success-500); 
  a {
    color: var(--color-success-link);
  } 
}
@mixin hook-alert-warning() { 
  border-color: var(--color-warning-500); 
  a {
    color: var(--color-warning-link);
  } 
}
@mixin hook-alert-danger() { 
  border-color: var(--color-alarm-500); 
  a {
    color: var(--color-alarm-500);
  } 
}

@mixin hook-alert-misc() {
    .uk-alert-nightmare {
        background: var(--color-alarm-500);
        color: var(--color-white);
        border-color: var(--color-alarm-500);
        font-weight: 700;
        a {
          color: var(--color-white);
          font-weight: 700;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
    }
}