$base-body-background: var(--color-mystic-40);
$base-body-font-weight: 400;

$base-link-hover-text-decoration: none;

$base-heading-font-family: "Exo 2", sans-serif;
$base-heading-font-weight: 700;
$base-heading-color: var(--color-mine-shaft-900);
$base-h1-font-size: 24px;
$base-h1-line-height: 1.33;
$base-h2-font-size: 18px;
$base-h2-line-height: 1.33;
$base-h3-font-size: 16px;
$base-h3-line-height: 1.33;
$base-h4-font-size: 14px;
$base-h4-line-height: 1.33;
$base-h5-font-size: 14px;
$base-h5-line-height: 1.33;
$base-h6-font-size: 14px;
$base-h6-line-height: 1.33;

