$breadcrumb-item-color: var(--color-cerulean-500);
$breadcrumb-item-hover-color: var(--color-cerulean-link-hover);
$breadcrumb-item-active-color: var(--color-mine-shaft-800-a-60);
$breadcrumb-divider-margin-horizontal: 12px;