$button-line-height: 46px;
$button-small-line-height: 30px;
$button-large-line-height: 62px;

$button-font-size: 16px;
$button-small-font-size: 14px;
$button-large-font-size: 18px;

$button-small-padding-horizontal: 8px;

$button-default-background: var(--color-white);
$button-default-color: var(--color-cerulean-500);
$button-default-hover-background: var(--color-white);
$button-default-hover-color: var(--color-cerulean-500);
$button-default-active-background: var(--color-white);
$button-default-active-color: var(--color-cerulean-500);

$button-primary-background: var(--color-cerulean-500);
$button-primary-color: var(--color-white);
$button-primary-hover-background: var(--color-cerulean-400);
$button-primary-hover-color: var(--color-white);
$button-primary-active-background: var(--color-cerulean-300);
$button-primary-active-color: var(--color-white);

$button-secondary-background: var(--color-mine-shaft-900);
$button-secondary-color: var(--color-white);
$button-secondary-hover-background: darken(#212121, 5%);
$button-secondary-hover-color: var(--color-white);
$button-secondary-active-background: darken(#212121, 10%);
$button-secondary-active-color: var(--color-white);

$button-danger-background: var(--color-alarm-500);
$button-danger-color: var(--color-white);
$button-danger-hover-background: darken(#fe3b1f, 5%) !default;
$button-danger-hover-color: var(--color-white);
$button-danger-active-background: darken(#fe3b1f, 10%) !default;
$button-danger-active-color: var(--color-white);

