$card-default-background: var(--color-white);
$card-default-hover-background: var(--color-white);
$card-default-color: var(--color-mine-shaft-500);
$card-default-title-color: var(--color-mine-shaft-900);

$card-primary-background: var(--color-cerulean-500);
$card-primary-hover-background: var(--color-cerulean-500);
$card-primary-color: var(--color-white);
$card-primary-color-mode: var(--color-white);

$card-secondary-color: var(--color-white);
$card-secondary-color-mode: var(--color-white);

$card-title-font-size: 18px;
$card-title-line-height: 1.33;