@mixin hook-card() {
  border-radius: 8px;
}

@mixin hook-card-default() {
  border: 1px solid var(--color-mystic-300);
}

@mixin hook-card-default-hover() {
  border-color: var(--color-bali-hai-200);
}

@mixin hook-card-misc() {
  .uk-card-default.uk-card-hover:active {
    border-color: var(--color-cerulean-500);
  }

  .uk-card-default.uk-card-hover-box-shadow:hover {
    box-shadow: var(--card-shadow);
  }

  .uk-card-default.uk-card-hover-box-shadow:active {
    box-shadow: none;
    border-color: var(--color-cerulean-500);
  }

  .uk-card.uk-drop {
    background-color: var(--color-white);
    box-shadow: var(--card-shadow);
    border: 1px solid var(--color-mystic-300);
    border-radius: 8px;
  }
}