$card-body-padding-horizontal-l: $global-margin;
$card-body-padding-vertical-l: $global-margin;

$card-small-body-padding-horizontal: $global-small-gutter;
$card-small-body-padding-vertical: $global-small-gutter;
$card-small-header-padding-horizontal: $global-small-gutter;
$card-small-header-padding-vertical: round(($global-small-gutter * 0.66667)) !default;
$card-small-footer-padding-horizontal: $global-small-gutter;
$card-small-footer-padding-vertical: round(($global-small-gutter * 0.66667)) !default;

$card-default-background: var(--color-white);
$card-default-hover-background: var(--color-white);
$card-default-color: var(--color-mine-shaft-500);
$card-default-title-color: var(--color-mine-shaft-900);

$card-primary-background: var(--color-cerulean-500);
$card-primary-hover-background: var(--color-cerulean-500);
$card-primary-color: var(--color-white);
$card-primary-color-mode: var(--color-white);

$card-secondary-color: var(--color-white);
$card-secondary-color-mode: var(--color-white);

$card-title-font-size: 18px;
$card-title-line-height: 1.33;