$label-padding-vertical: 2px;
$label-padding-horizontal: 4px;

$label-background: var(--color-cerulean-500);
$label-success-background: var(--color-success-500);
$label-warning-background: var(--color-warning-500);
$label-danger-background: var(--color-alarm-500);
