@mixin hook-nav-misc() {
  .uk-nav.uk-drop {
    background-color: var(--color-white);
    border: 1px solid #DCE3EB;
    border-radius: 8px;
    box-shadow: var(--card-shadow);
    padding: 8px 0;
    width: 280px;
  }
  
  .uk-nav.uk-drop li > a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-mine-shaft-900);
    padding: 10px 16px;
  }

  .uk-nav.uk-drop li > a:hover {
    color: var(--color-white);
    background-color: var(--color-cerulean-500);
  }

  .uk-nav.uk-drop li.uk-active > a {
    color: var(--color-mine-shaft-900);
    background-color: var(--color-mystic-100);
  }

  .uk-nav.uk-drop li.uk-nav-divider {
    margin: 8px 0;
    border-top: 1px solid var(--color-mystic-300);
  }

  .uk-nav.uk-drop li > a[aria-haspopup] {
    display: flex;
    align-items: center;
  }

  .uk-nav.uk-drop li > a[aria-haspopup]::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23009DDB' stroke-width='2' d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  }

  .uk-nav.uk-drop li > a[aria-haspopup]:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  }

  .uk-nav.uk-drop .uk-nav-sub {
    padding: 0;
  }

  .uk-nav.uk-drop .uk-nav-sub li > a {
    padding-left: 32px;
  }

  .uk-nav.uk-drop .uk-parent > a .uk-nav-parent-icon {
    color: var(--color-cerulean-500);
  }

  .uk-nav.uk-drop li > a:hover .uk-icon {
    color: var(--color-white) !important;
  }

  .uk-nav.uk-drop .uk-nav-header {
    padding: 10px 16px;
    text-transform: none;
  }
}