$navbar-background: var(--color-white);
// $navbar-nav-gap: 32px;

$navbar-nav-item-height: 52px;
$navbar-nav-item-padding-horizontal: 0;
$navbar-nav-item-color: var(--color-cerulean-500);
$navbar-nav-item-font-size: 16px;
$navbar-nav-item-font-family: 'Exo 2', sans-serif;
$navbar-nav-item-hover-color: var(--color-mine-shaft-900);
$navbar-nav-item-onclick-color: var(--color-mine-shaft-900);
$navbar-nav-item-active-color: var(--color-mine-shaft-900);