$offcanvas-bar-padding-vertical: 0;
$offcanvas-bar-padding-horizontal: 0;
$offcanvas-bar-background: var(--color-white);
$offcanvas-bar-color-mode: dark;

$offcanvas-close-position: 32px;
$offcanvas-close-padding: 0;
$offcanvas-overlay-background: rgba(0,0,0,0.1) !default;