$subnav-margin-horizontal: 20px;
$subnav-dot-margin-horizontal: $subnav-margin-horizontal;

$subnav-margin-small-horizontal: 8px;
$subnav-dot-margin-small-horizontal: $subnav-margin-small-horizontal;

$subnav-dot-height: 4px;
$subnav-dot-width: 4px;

